<div class="all-events">
  <div class="event-item">
    <h1>Upcomming Events</h1>
    <ul>
      <%= render @upcomming_events %>
    </ul>
  </div>
  <div class="event-item">
    <h1>Previous Attended Events</h1>
    <ul>
     <%= render @prev_events %>
    </ul>
  </div>


</div>
