<div class="all-events">
  <div class="event-item">
    <%= display_upcomming_h1 %>
    <ul>
      <%= render @upcomming_events %>
    </ul>
  </div>


  <div class="event-item">

    <%= display_prev_h1 %>
    <ul class="event-index">
      <%= render @prev_events %>
    </ul>

  </div>
</div>
