

<h2 class="event-title">
<%= @event.name %>
</h2>

<div class="event-details">
  <p><span>Location: </span> <%= @event.location %></p>
  <p><span>date: </span> <%= @event.date %> </p>
  <p><span>host: </span> <%= @event.creator.name %> </p>
</div>
