<div class="invitation">

  <h1>Invite</h1>

  <%= form_tag("/invitations/create", method: :post) do %>
    <div class="field">
      <%= label_tag(:name) %>
      <%= text_field_tag(:name) %>
    </div>

    <div class="field">
      <%= submit_tag("Invite") %>
    </div>

  <% end %>

</div>
