
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi there!, <%= @event.creator.name %></h1>
    <p>
      You have successfully created a <%= @event.name %>.<br> event!

    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for choosing us, have a great day!</p>
  </body>
</html>
